body{
    margin: 0;
}



ul{
    display: flex;
    column-gap: 7vw;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul>a{
    height: fit-content;
    max-width: fit-content;
    text-decoration: none;
    font-size: larger;
    color: white;
    

    margin-top: 5vh;
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-radius: .8vw;
}

ul>a{
    background-color: rgba(0, 0, 0, .5);
    
    transition: 200ms;
}

ul>a:hover{
    background-color: rgba(62, 71, 89, 0.8);
    transition: 200ms;
}

header{
    top: 0;
    margin-top: 0;
    border-top: 0;
}

#Home{
    background-image: url("images/timp-optimized\ \(2\).png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute bottom;
   
}



.homepage{
    background-image: url("images/landscape1_optimized.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#GalleryHome{
    background-image: url("images/gallery-hero-cropped.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallerypage{
    background-image: url("images/hilloptimized.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15vh;
    background-color: #cccccc;
}

#Gallery{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 50px;


}

#Gallery>img{
    max-height: 20vw;
}



.hometext{
    display: grid;
    margin-top: 25vh;
    background-color: rgba(204, 204, 204, .8);
    width: 60vw;

    margin: 0 auto;
    margin-top: 25vh;
    text-align: center;
}





#ToursHome{
    background-image: url(images/optimizedtrain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tourpage{
    background-color: #cccccc;
}

.tourgrid{
    display: grid;
    row-gap: 10vh;

    grid-template-columns: auto auto;
    justify-content: space-around;
}

.tourgrid>figure{
    width: fit-content;
    height: 19vw;
    background-color: darkgray;
    text-align: center;
    
}

.tourgrid>figure>a>img{
    width: auto;
    height: 15vw;
}

.tourgrid>figure>p{
    font-size: larger;
}

#EntertainHome{
    background-image: url(images/holiday_lanes2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.entertainpage{
    background-color: #cccccc;
}

.entgrid{
    display: grid;
    row-gap: 10vh;

    grid-template-columns: auto auto;
    justify-content: space-around;
}

.entgrid>figure{
    width: fit-content;
    height: 19vw;
    background-color: darkgray;
    text-align: center;
    
}

.entgrid>figure>a>img{
    width: auto;
    height: 15vw;
}

.entgrid>figure>p{
    font-size: larger;
}
