body{
    margin: 0;
}



ul{
    display: flex;
    column-gap: 7vw;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul>a{
    height: fit-content;
    max-width: fit-content;
    text-decoration: none;
    font-size: larger;
    color: white;
    

    margin-top: 5vh;
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-radius: .8vw;
}

ul>a{
    background-color: rgba(0, 0, 0, .5);
    
    transition: 200ms;
}

ul>a:hover{
    background-color: rgba(62, 71, 89, 0.8);
    transition: 200ms;
}

header{
    top: 0;
    margin-top: 0;
    border-top: 0;
}

#Home{
    background-image: url("images/timp-optimized\ \(2\).png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute bottom;
   
}

.homepage{
    background-image: url("images/landscape1.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
